<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="40" height="32" src="/images/logo.jpg"></img>
        <span class="fs-4">Charsheet</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
      </ul>
    </header>
  </div>


  <form action="/createdChar" class="container" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="charName">Character Name</label>
        <input type="text" class="form-control" id="charName" name="charName" placeholder="Enter a Name for you character">
      </div>
      <div class="row">
          <div class="form-group col-md-6">
          <label for="races">Race</label>
          <select class="form-select" id="races" name="race" aria-label="Default select example">
            <option value="" disabled selected hidden>Choose your race</option>
            <% races.forEach(name => { %>
              <option value="<%= name.name %>"><%= name.name %></option>
            <% }) %>
          </select>
        </div><br>

        <div class="form-group col-md-6">
          <label for="classes">Class</label>
          <select class="form-select" id="classes" name="class" aria-label="Default select example">
            <option value="" disabled selected hidden>Choose your class</option>
            <% classes.forEach(name => { %>
              <option value="<%= name.name %>"><%= name.name %></option>
            <% }) %>
          </select>
        </div>
      </div><br>
      
      
      <label for="alignment">Alignment</label>
      <div class="row" id="alignment">
          <div class="form-group col-md-6">
          <select class="form-select" name="align1" aria-label="Default select example" required>
              <option value="" disabled selected hidden>Law vs Chaos</option>
              <option value="good">Lawful</option>
              <option value="neutral">Neutral</option>
              <option value="evil">Chaotic</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <select class="form-select" name="align2" aria-label="Default select example" required>
            <option value="" disabled selected hidden>Good vs Evil</option>
            <option value="good">Good</option>
            <option value="good">Neutral</option>
            <option value="good">Evil</option>
          </select>
        </div>
      </div><br>
      
      <div class="mb-3">
        <label for="backstory" class="form-label">Description / Backstory</label>
        <textarea class="form-control" id="backstory" name="backstory" rows="3"></textarea>
      </div>
    <button type="submit" class="btn btn-primary">Create Character</button>
  </form>



</body>

</html>